# Ignore all .set files
*.set

# Ignore all .fdt files
*.fdt

# Ignore all .fwd files
*.fwd

# Ignore all .DS_Store files
.DS_Store

# Ignore the entire OwnData directory
OwnData/

# Ignore the entire OwnResults directory
OwnResults/

# Ignore directory containing generated MATLAB data
MatlabGeneratedData/

# Ignore autosave files
*.asv

# Ignore directory containing eeglab
eeglab2024.1/

# Ignore files related to OS's in WorkingFiles directory
WorkingFiles/SetupDir.m
WorkingFiles/pathdef_MAC.m
WorkingFiles/pathdef_WIN.m